@page "/create"
@inject IPageStore PageStore
@inject IUserStore UserStore
@inject NavigationManager NavigationManager

<RedirectIfNotAuthorized>
    <Contents>
        <EditForm EditContext="@Context" OnValidSubmit="@SavePage">
            <table width="100%">
                <tr>
                    <td>
                        <h3>Title:</h3>
                    </td>
                    <td width="10px" />
                    <td width="100%">
                        <h3><InputText style="width: 100%;" @bind-Value="@Title" /></h3>
                    </td>
                    <td width="10px" />
                    <td align="right">
                        <button type="submit">Save</button>
                    </td>
                    <td align="right">
                        <button type="button" @onclick="@cancel">Cancel</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" width="100%">
                        <InputTextArea style="width: 100%; height: 500px;" @bind-Value="@Content" />
                    </td>
                </tr>
            </table>
        </EditForm>
    </Contents>
</RedirectIfNotAuthorized>

@code {
    [CascadingParameter]
    Task<AuthenticationState> AuthenticationStateTask { get; set; }

    public EditContext Context { get; set; }
    public string Content { get; set; }
    public string Title { get; set; }

    public User User { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        var authState = await AuthenticationStateTask;
        if (authState?.User?.Identity?.Name == null)
        {
            return;
        }

        if (UserStore.HasUser(authState.User.Identity.Name))
        {
            User = UserStore.GetUser(authState.User.Identity.Name);
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Context = new EditContext(new object());
    }

    public void SavePage()
    {
        var page = new Page()
        {
            Title = Title,
            Author = User
        };
        page.Parse(Content, UserStore, PageStore);
        PageStore.AddPage(page);
        NavigationManager.NavigateTo($"/pages/{page.Title}");
    }

    void cancel()
    {
        NavigationManager.NavigateTo($"/");
    }
}
